<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>My Job Listings</h1>
      <%= link_to 'New Job', new_job_path, class: "btn btn-success" %>
<table class="table table-striped table-hover" style="margin-top: 50px;">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th>Address</th>
      <th>How to apply</th>
      <th>Company name</th>
      <th>Website</th>
      <th>Email</th>
      <th>Experience</th>
      <th>Working hours</th>
      <th>Compensation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.description %></td>
        <td><%= job.category %></td>
        <td><%= job.address %></td>
        <td><%= job.how_to_apply %></td>
        <td><%= job.company_name %></td>
        <td><%= job.website %></td>
        <td><%= job.email %></td>
        <td><%= job.experience %></td>
        <td><%= job.working_hours %></td>
        <td><%= job.compensation %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

    </div>
  </div>
</div>


