<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-2">
               <%= image_tag @job.company_logo.thumb.url, class: "img-rounded" %>
            </div><!-- col-md-2 -->
            <div class="col-md-8">
              <h3><%= @job.title %></h3>
              <h5><%= @job.company_name %></h5>
              <p><small><%= @job.website %></small> | <small><%= @job.email %></small></p>
            </div><!-- col-md-8 -->
            <div class="col-md-2">
              <small style="color: #96a2b2;"><%= time_ago_in_words(@job.created_at) %> ago</small><br>
              <% if (user_signed_in? && (current_user.id == @job.user_id)) %>
                  <% if can? :update, @job %>
                    <%= link_to 'Edit', edit_job_path(@job), class: "btn btn-warning btn-xs" %>
                  <% end %>
                  <%= link_to 'My Listings', jobs_path, class: "btn btn-info btn-xs" %>
              <% end %>
            </div><!-- col-md-2 -->
          </div><!-- row -->
          <div class="row">
            <div class="col-md-12">
              <hr>
            </div><!-- col-md-12 -->
          </div><!-- row -->
          <div class="row">
            <div class="col-md-12">
              <p><%= @job.description %></p>            
            </div><!-- col-md-12 -->
          </div><!-- row -->
          <div class="row">
            <div class="col-md-4">
              <p><%= @job.category %></p>            
            </div><!-- col-md-4 -->
            <div class="col-md-4">
              <p><%= @job.address %></p>
            </div><!-- col-md-4 -->
            <div class="col-md-4">
              <p><%= @job.experience %></p>
            </div><!-- col-md-4 -->
          </div><!-- row -->
          <div class="row">
            <div class="col-md-4">
              <p><%= @job.working_hours %></p>            
            </div><!-- col-md-4 -->
            <div class="col-md-4">
              <p><%= @job.compensation %></p>
            </div><!-- col-md-4 -->
            <div class="col-md-4">
              <p><%= @job.how_to_apply %></p>
            </div><!-- col-md-4 -->
          </div><!-- row -->
        </div><!-- panel-body -->
      </div><!-- panel panel-default-->
    </div><!-- col-md-12-->
  </div><!-- row -->
  <div class="row">
    <div class="col-md-12">
      <p><%= @job.long_description %></p>
    </div>
  </div>
</div><!-- container -->




