<div class="container-fluid">

<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <%= link_to 'Post a Job', new_job_path, class: "btn btn-success btn-lg" if user_signed_in? %>
    </div>
</div>    

<div class="jumbotron text-center">
  <h1>We offer 1,259 job vacancies right now!</h1>
  <p>Find your desire one in a minute</p>
  <div style="width:60%; margin: 0px auto; margin-top: 70px;"><form role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form></div>
</div>
</div>

<div class="container">
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <h5>Here's the last five job posted on the website</h5>
        <h2>Recent Jobs</h2>
    </div>
</div>

<div class="row" style="margin-top: 50px">
    <% @jobs.each do |job| %>
    <div class="col-md-12">
        <div class="panel panel-default hover-job">
          <div class="panel-body">
            <div class="row">
                <div class="col-sm-2">
                    <img src="http://placehold.it/100x100" class="img-rounded">
                </div>
                <div class="col-sm-3">
                    <h3><%= job.title %></h3>
                    <h5 style="color: #96a2b2;"><%= job.company_name %></h5>
                </div>
                <div class="col-md-3 col-md-offset-4">
                    <h4><%= job.address %></h4>
                    <% if job.category == 'Full Time' %>
                        <small class="label label-success">Full-Time</small>
                    <% elsif job.category == 'Part Time' %>
                        <small class="label label-warning">Part-Time</small>
                    <% elsif job.category == 'Contract' %>
                        <small class="label label-info">Contract</small>
                    <% elsif job.category == 'Freelance' %>
                        <small class="label label-warning">Freelance</small>
                    <% elsif job.category == 'Internship' %>
                        <small class="label label-danger">Internship</small>
                    <% end %>
                </div>
            </div>
          </div>
        </div>
        
        
    </div>
    <% end %>
</div>


<div class="row" style="margin-top: 30px;">
    <div class="col-md-6 col-md-offset-3 text-center">
        <%= link_to 'BROWSE ALL JOBS', pages_all_jobs_path, class: "btn btn-primary btm-lg" %>
    </div>
</div>


<div class="row">
    <div class="col-md-8">
        <h2>How It Works</h2>
        <p>Pellentesque et pulvinar orci. Suspendisse sed euismod purus. Pellentesque nunc ex, ultrices eu enim non, consectetur interdum nisl. Nam congue interdum mauris, sed ultrices augue lacinia in. Praesent turpis purus, faucibus in tempor vel, dictum ac eros.</p>

        <p>Nulla quis felis et orci luctus semper sit amet id dui. Aenean ultricies lectus nunc, vel rhoncus odio sagittis eu. Sed at felis eu tortor mattis imperdiet et sed tortor. Nullam ac porttitor arcu. Vivamus tristique elit id tempor lacinia. Donec auctor at nibh eget tincidunt. Nulla facilisi. Nunc condimentum dictum mattis.</p>
        
        <p>Nulla quis felis et orci luctus semper sit amet id dui. Aenean ultricies lectus nunc, vel rhoncus odio sagittis eu. Sed at felis eu tortor mattis imperdiet et sed tortor. Nullam ac porttitor arcu. Vivamus tristique elit id tempor lacinia. Donec auctor at nibh eget tincidunt. Nulla facilisi. Nunc condimentum dictum mattis.</p>
    </div>
    <div class="col-md-4">
        <img src="http://shamsoft.net/thejobs/assets/img/how-it-works.png" class="img-responsive">
    </div>
</div>



</div>